section
  padding-bottom: 30px

// Section title
.section-title
  text-align center

  h1
    color #fff
    text-transform uppercase
    display inline-block

    &:before
      content "/ "
      color $gold

// Social icons
.social__icon
  font-size 20px
  line-height 20px

  &:link
  &:visited
  &:active
    display inline-block
    color: $gold

  &:hover
  &:focus
    text-decoration none
    color #fff

  &:focus
    outline 1px solid darken($gold, 20%)