@import "../components/variables"

.services
  box-sizing border-box
  padding 20px
  color #fff
  height 500px
  background #222

  &__title
    text-align center

    h1
      display inline-block

      &:before
        content "<  "
        color $gold

      &:after
        content " />"
        color $gold