@import "../components/animations"

.welcome
  position relative
  height 800px
  background #eee

  &__scroll
    position absolute
    bottom: 30px
    left: 0
    right: 0
    margin: auto
    width 40px
    height 60px
    background #ccc
    animation: scroll 2s infinite