// Libraries
@require "../libs/normalize-css/normalize.css"
@require "../libs/bootstrap/bootstrap.css"
@require "../libs/font-awesome/css/font-awesome.css"

// Assets
@require "./components/variables"
@require "./components/animations"

// Globals
@require "./blocks/_globals"

// Blocks
@require "./blocks/header"
@require "./blocks/welcome"
@require "./blocks/services"
@require "./blocks/team"
@require "./blocks/projects"
@require "./blocks/contacts"
@require "./blocks/footer"
