<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Document
    link(rel='stylesheet', href='css/index.css')
  body
    header.header
      a.header__logo(href='/') Logo

      nav.header__menu
        a.header__link(href='#services') Services
        a.header__link(href='#team') Team
        a.header__link(href='#projects') Projects
        a.header__link(href='#contacts') Contacts

    section.welcome
      a.welcome__scroll(href='#services')

    section.services#services
      .section-title
        h1 Services

    section.team
      .section-title
        h1 Team

      .container
        .row
          .col-md-3.col-sm-6
            .team__member
              .team__member__name Nikita Chebykin
                .team__member__labels
                  span.team__label.team__label--lead Lead
                  span.team__label.team__label--fullstack Full-stack

              .team__member__avatar

              .team__member__social
                a.social__icon(href='', title='Vkontakte', target='_blank')
                  i.fa.fa-vk
                a.social__icon(href='', title='Facebook', target='_blank')
                  i.fa.fa-facebook-official
                a.social__icon(href='', title='GitHub', target='_blank')
                  i.fa.fa-github
                a.social__icon(href='', title='Instagram', target='_blank')
                  i.fa.fa-instagram

              .team__member__desc
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum dolorem itaque maiores sint? Ducimus quod, ea enim, nobis beatae illo numquam nulla maxime, vel soluta a animi! Pariatur, praesentium, est.

          .col-md-3.col-sm-6
            .team__member
              .team__member__name Ivan Efremov
                .team__member__labels
                  span.team__label.team__label--backend Back-end

              .team__member__avatar

              .team__member__social
                a.social__icon(href='', title='Vkontakte', target='_blank')
                  i.fa.fa-vk
                a.social__icon(href='', title='Facebook', target='_blank')
                  i.fa.fa-facebook-official
                a.social__icon(href='', title='GitHub', target='_blank')
                  i.fa.fa-github
                a.social__icon(href='', title='Instagram', target='_blank')
                  i.fa.fa-instagram

              .team__member__desc
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo unde quod eos, id, consequuntur totam. Dolores quaerat officia eveniet voluptatum autem blanditiis dignissimos, quia adipisci, eos nisi numquam mollitia sint.

          .col-md-3.col-sm-6
            .team__member
              .team__member__name Alex Sharypin
                .team__member__labels
                  span.team__label.team__label--backend Back-end

              .team__member__avatar

              .team__member__social
                a.social__icon(href='', title='Vkontakte', target='_blank')
                  i.fa.fa-vk
                a.social__icon(href='', title='Facebook', target='_blank')
                  i.fa.fa-facebook-official
                a.social__icon(href='', title='GitHub', target='_blank')
                  i.fa.fa-github
                a.social__icon(href='', title='Instagram', target='_blank')
                  i.fa.fa-instagram

              .team__member__desc
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi labore, hic accusantium ipsa amet non. Officiis, odit ipsum ducimus, iure vitae enim reiciendis quod, facere ad doloremque aspernatur, sapiente.

          .col-md-3.col-sm-6
            .team__member
              .team__member__name Nikita Borisowsky
                .team__member__labels
                  span.team__label.team__label--frontend Front-end

              .team__member__avatar

              .team__member__social
                a.social__icon(href='', title='Vkontakte', target='_blank')
                  i.fa.fa-vk
                a.social__icon(href='', title='Facebook', target='_blank')
                  i.fa.fa-facebook-official
                a.social__icon(href='', title='GitHub', target='_blank')
                  i.fa.fa-github
                a.social__icon(href='', title='Instagram', target='_blank')
                  i.fa.fa-instagram

              .team__member__desc
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde assumenda ullam culpa consectetur alias, blanditiis reprehenderit, harum quod impedit ut, quidem pariatur maiores voluptate? Aperiam magni adipisci molestiae ipsam reprehenderit?

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='js/app.js')
